@page "/registerresidence"
@using SEP3BlazorT1Client.Models
    <div class="mat-layout-grid mat-layout-grid-align-left" style="width: 100%;">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <h1>Register your residence</h1>
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell">
                        @* LEFT COLUMN *@
                        <h2>Address Information</h2>
                        <EditForm EditContext=@FormEditContextAddress>
                            <DataAnnotationsValidator/>
                            <MatTextField Label="Street name" @bind-Value="@_newResidenceAddress.StreetName"/>
                            <ValidationMessage For="@(() => _newResidenceAddress.StreetName)"/>

                            <MatTextField Label="Street Number" @bind-Value="@_newResidenceAddress.StreetNumber"/>
                            <ValidationMessage For="@(() => _newResidenceAddress.StreetNumber)"/>

                            <MatTextField Label="House Number" @bind-Value="@_newResidenceAddress.HouseNumber"/>
                            <ValidationMessage For="@(() => _newResidenceAddress.HouseNumber)"/>


                            <MatTextField Label="Zipcode" @bind-Value="@_newResidenceAddress.ZipCode"/>
                            <ValidationMessage For="@(() => _newResidenceAddress.ZipCode)"/>
                        </EditForm>
                    </div>
                    <div class="mat-layout-grid-cell">
                        @* MIDDLE COLUMN *@
                        <h2>Residence Info:</h2>
                        <EditForm EditContext=@FormEditContextResidence>
                            <DataAnnotationsValidator/>

                            <MatSelect Label="Residence type" @bind-Value="_residenceType" Style="margin-top:1rem;"/>
                            <ValidationMessage For="@(()=>_newResidence.Type)" />
                            <MatTextField Label="Residence Description" @bind-Value="_newResidence.Description" TextArea="@true"/>
                            <ValidationMessage For="@(() => _newResidence.Description)"/>
                            <MatTextField Label="Price / night in DKK" @bind-Value="_newResidence.PricePerNight"/>
                            <ValidationMessage For="@(() => _newResidence.PricePerNight)"/>
                            <MatButton OnClick="@(() => AddNewRule())">Add new Rule</MatButton>
                            <MatButton OnClick="@(() => OpenAddFacilityDialog())">Add Facility</MatButton>
                        </EditForm>
                        <MatDialog @bind-IsOpen="_showFacilityDialog">
                            <MatDialogTitle>Choose an facility</MatDialogTitle>
                            <MatSelect Label="Facility" @bind-Value="_facilityToBeAdded.Name">
                               @if(_allFacilities.Any())
                               {
                                @foreach (Facility facility in _allFacilities)
                                {
                                    <MatOptionString Value="@facility.Name">@facility.Name</MatOptionString>
                                }
                               }
                               else 
                               {
                                   <MatOptionString>No Factilities available</MatOptionString>
                               }
                            </MatSelect>
                            <MatDialogActions>
                                <MatButton OnClick="@(() => _showFacilityDialog = false)">Cancel</MatButton>
                                <MatButton OnClick="@(() => AddFacility())">Add</MatButton>
                            </MatDialogActions>
                        </MatDialog>
                    </div>
                    <div class="mat-layout-grid-cell">
                        @* RIGHT COLUMN *@
                        <h2>You have added: </h2>
                        <MatListGroup>
                            <MatListGroupSubHeader Style="font-weight: 400">Rules: </MatListGroupSubHeader>
                            @foreach (Rule rule in _newResidence.Rules)
                            {
                                <MatListItem>@rule.Description</MatListItem>
                            }
                            @if (!_newResidence.Rules.Any())
                            {
                                <MatListItem>No rules have been added.</MatListItem>
                            }
                        </MatListGroup>
                        <MatListGroup>
                            <MatListGroupSubHeader Style="font-weight: 400">Facilities:</MatListGroupSubHeader>
                            @foreach (Facility facility in _newResidence.Facilities)
                            {
                                <MatList>@facility.Name</MatList>
                            }
                            @if (!_newResidence.Facilities.Any())
                            {
                                <MatListItem>No Facilities have been added.</MatListItem>
                            }
                        </MatListGroup>
                        <MatButton OnClick="@TriggerValidation" >Register residence</MatButton>
                    </div>
                </div>
            </div>

        </div>
    </div>