@page "/registerresidence"
@using SEP3BlazorT1Client.Models
@using Microsoft.AspNetCore.Components
@using System.Linq
@using SEP3BlazorT1Client.Data
<AuthorizeView Policy="MustBeHost">
    <Authorized Context="Auth">
        <div class="mat-layout-grid mat-layout-grid-align-left" style="width: 100%;">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <h1>Register your residence</h1>
                    <div class="mat-layout-grid-inner">
                        <div class="mat-layout-grid-cell">
                            @* LEFT COLUMN *@
                            <h2>Address Information</h2>
                            <EditForm EditContext=@FormEditContextAddress>
                                <DataAnnotationsValidator/>
                                <p>
                                    <MatTextField Label="Street name" @bind-Value="@_newResidenceAddress.StreetName"/>
                                    <ValidationMessage For="@(() => _newResidenceAddress.StreetName)"/>
                                </p>


                                <p>
                                    <MatTextField Label="Street Number" @bind-Value="@_newResidenceAddress.StreetNumber"/>
                                    <ValidationMessage For="@(() => _newResidenceAddress.StreetNumber)"/>
                                </p>


                                <p>
                                    <MatTextField Label="House Number" @bind-Value="@_newResidenceAddress.HouseNumber"/>
                                    <ValidationMessage For="@(() => _newResidenceAddress.HouseNumber)"/>
                                </p>


                                <p>
                                    <MatTextField Label="Zipcode" @bind-Value="@_newResidenceAddress.City.ZipCode"/>
                                    <ValidationMessage For="@(() => _newResidenceAddress.City.ZipCode)"/>
                                </p>

                                <p>
                                    <MatTextField Label="City" @bind-Value="@_newResidenceAddress.City.CityName"/>
                                    <ValidationMessage For="@(() => _newResidenceAddress.City.CityName)"/>
                                </p>


                            </EditForm>
                        </div>
                        <div class="mat-layout-grid-cell">
                            @* MIDDLE COLUMN *@
                            <h2>Residence Info:</h2>
                            <EditForm EditContext="@FormEditContextResidence">
                                <DataAnnotationsValidator/>
                                <p>
                                    <MatTextField Label="Residence type" @bind-Value="_newResidence.Type" Style="margin-top:1rem"/>
                                    <ValidationMessage For="@(() => _newResidence.Type)"/>
                                </p>


                                <p>
                                    <MatTextField Label="Residence Description" @bind-Value="_newResidence.Description" TextArea="@true"/>
                                    <ValidationMessage For="@(() => _newResidence.Description)"/>
                                </p>

                                <p>
                                    <MatTextField Label="Price / night in DKK" @bind-Value="_newResidence.PricePerNight"/>
                                    <ValidationMessage For="@(() => _newResidence.PricePerNight)"/>
                                </p>

                                <p>
                                    <MatButton OnClick="@(() => AddNewRule())">Add new Rule</MatButton>
                                    <MatButton OnClick="@(() => OpenAddFacilityDialog())">Add Facility</MatButton>
                                </p>

                            </EditForm>
                            <MatDialog @bind-IsOpen="_showFacilityDialog">
                                <MatDialogTitle>Choose a facility</MatDialogTitle>
                                <MatSelect Label="Facility" @bind-Value="_facilityToBeAdded.Name">
                                    @if (_allFacilities.Any())
                                    {
                                        @foreach (Facility facility in _allFacilities)
                                        {
                                            <MatOptionString Value="@facility.Name">@facility.Name</MatOptionString>
                                        }
                                    }
                                    else
                                    {
                                        <MatOptionString>No Factilities available</MatOptionString>
                                    }
                                </MatSelect>
                                <MatDialogActions>
                                    <MatButton OnClick="@(() => _showFacilityDialog = false)">Cancel</MatButton>
                                    <MatButton OnClick="@AddFacility">Add</MatButton>
                                </MatDialogActions>
                            </MatDialog>
                        </div>
                        <div class="mat-layout-grid-cell">
                            @* RIGHT COLUMN *@
                            <h2>You have added: </h2>
                            <p>
                                <MatListGroup>
                                    <MatListGroupSubHeader Style="font-weight: 400">Rules: </MatListGroupSubHeader>
                                    @foreach (Rule rule in _newResidence.Rules)
                                    {
                                        <MatListItem>@rule.Description</MatListItem>
                                    }
                                    @if (!_newResidence.Rules.Any())
                                    {
                                        <MatListItem>No rules have been added.</MatListItem>
                                    }
                                </MatListGroup>
                            </p>

                            <p>
                                <MatListGroup>
                                    <MatListGroupSubHeader Style="font-weight: 400">Facilities:</MatListGroupSubHeader>
                                    @foreach (Facility facility in _newResidence.Facilities)
                                    {
                                        <MatList>@facility.Name</MatList>
                                    }
                                    @if (!_newResidence.Facilities.Any())
                                    {
                                        <MatListItem>No Facilities have been added.</MatListItem>
                                    }
                                </MatListGroup>
                            </p>

                            <MatButton OnClick="@RegisterNewResidence">Register residence</MatButton>
                            <p hidden="@(!_isLoading)">
                                <MatProgressBar Indeterminate="true" Reversed="true"></MatProgressBar>
                            </p>

                            <p style="color: red;">@_registerResidenceErrorMessage</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="container-fluid d-flex justify-content-center">
            <div class="col">
                <div class="row">
                    <p>Only hosts are allowed to register residences.</p>
                </div>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>