@page "/UserRequests"
@using SEP3BlazorT1Client.Models
<AuthorizeView Policy="MustBeAdmin">
    <Authorized>
        <p>@ErrorMessage</p>
        <div class="d-flex justify-content-center">
            <MatTabGroup Style="width: 500px">
                <MatTab Label="Hosts Requests">
                    <ChildContent>
                        @if (_hostRequestList == null)
                        {
                            <h3 class="mat-subtitle1">Loading</h3>
                            <MatProgressCircle Indeterminate="true" />
                        }
                        else if (_hostRequestList.Count()==0)
                        {
                            <p>
                                <em>There are no host requests at the moment....</em>
                            </p>
                        }
                        else
                        {
                            <div class="mat-layout-grid mat-layout-grid-align-left" style="max-width: 2000px;">
                                <div class="mat-layout-grid-inner">
                                    @foreach (var item in _hostRequestList)
                                    {
                                        <div class="mat-layout-grid-cell">
                                            <MatCard Class="demo-mat-card">
                                                <MatCardContent>
                                                    <MatCardMedia Wide="true" ImageUrl="@item.ProfileImageUrl"></MatCardMedia>
                                                    <div class="demo-mat-card-content">
                                                        <MatHeadline6 class="demo-mat-card-clean-margin">
                                                            @item.FirstName @item.LastName
                                                        </MatHeadline6>
                                                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                                                            @item.Email
                                                        </MatSubtitle2>
                                                    </div>
                                                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                                        @item.PhoneNumber
                                                    </MatBody2>
                                                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                                        @item.Cpr
                                                    </MatBody2>
                                                </MatCardContent>
                                                <MatCardActions>
                                                    <MatButton @onclick="(() => ApproveHost(item.Id))">Approve</MatButton>
                                                    <MatButton @onclick="(() => RejectHost(item.Id))">Reject</MatButton>
                                                </MatCardActions>
                                            </MatCard>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </ChildContent>
                </MatTab>
                <MatTab Label="Guests Requests">
                    <ChildContent>
                        @if (_guestRequestList == null)
                        {
                            <h3 class="mat-subtitle1">Loading</h3>
                            <MatProgressCircle Indeterminate="true" />
                        }
                        else if (!_guestRequestList.Any())
                        {
                            <p>
                                <em>There are no guest requests at the moment....</em>
                            </p>
                        }
                        else
                        {
                            <div class="mat-layout-grid mat-layout-grid-align-left" style="max-width: 2000px;">
                                <div class="mat-layout-grid-inner">
                                    @foreach (var item in _guestRequestList)
                                    {
                                        <div class="mat-layout-grid-cell">
                                            <MatCard Class="demo-mat-card">
                                                <MatCardContent>
                                                    <MatCardMedia Wide="true" ImageUrl="@item.ProfileImageUrl"></MatCardMedia>
                                                    <div class="demo-mat-card-content">
                                                        <MatHeadline6 class="demo-mat-card-clean-margin">
                                                            @item.FirstName @item.LastName
                                                        </MatHeadline6>
                                                        <MatSubtitle2 class="demo-mat-card-clean-margin">
                                                            <MatIcon Icon="@MatIconNames.Email"></MatIcon> @item.Email
                                                        </MatSubtitle2>
                                                    </div>
                                                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                                        @item.PhoneNumber
                                                    </MatBody2>
                                                    <MatBody2 class="demo-mat-card-content demo-mat-card-clean-margin">
                                                        @item.ViaId
                                                    </MatBody2>
                                                </MatCardContent>
                                                <MatCardActions>
                                                    <MatButton @onclick="(() => ApproveGuest(item.Id))">Approve</MatButton>
                                                    <MatButton @onclick="(() => RejectGuest(item.Id))">Reject</MatButton>
                                                </MatCardActions>
                                            </MatCard>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </ChildContent>
                </MatTab>
            </MatTabGroup>
        </div>
    </Authorized>
    <NotAuthorized>
        <div id="errorBox">
            <p>You must <a href="Login">login as an admin</a> to be able to see the content of this page</p>
        </div>
    </NotAuthorized>
</AuthorizeView>