@page "/HostReviews/{Id:int}"
@if (_hostReviewList == null)
{
    <h3 class="mat-subtitle1">Loading</h3>
    <MatProgressCircle Indeterminate="true"/>
}
else if (!_hostReviewList.Any())
{
    <p>
        <em>There are no host requests at the moment....</em>
    </p>
}
else
{
    <MatAccordion Multi="true">
        @foreach (var item in _hostReviewList)
        {
            <MatExpansionPanel>
                <MatExpansionPanelSummary>
                    <MatExpansionPanelHeader>
                        <p>Ratings: @item.Rating</p>
                    </MatExpansionPanelHeader>
                    <MatExpansionPanelSubHeader>
                        Date of review:  @item.CreatedDate
                    </MatExpansionPanelSubHeader>
                </MatExpansionPanelSummary>
                <MatExpansionPanelDetails>
                    <div class="mat-layout-grid mat-layout-grid-align-left" style="max-width: 800px;">
                        <div class="mat-layout-grid-inner">
                            <div class="mat-layout-grid-cell">
                                <div class="form-group">
                                    <MatSubtitle2>Rating: @item.Rating</MatSubtitle2>
                                </div>
                                <div class="form-group">
                                    <MatSubtitle2>Description: @item.Text</MatSubtitle2>
                                </div>
                                <div class="form-group">
                                    <MatSubtitle2>Date of review: @item.CreatedDate</MatSubtitle2>
                                </div>
                            </div>
                        </div>
                        <div class="mat-layout-grid-cell">
                            <div class="form-group">
                                <MatSubtitle2>Reviewd by: @_guestList.First(guest => guest.Id == item.GuestId).FirstName @_guestList.First(guest => guest.Id == item.GuestId).LastName</MatSubtitle2>
                            </div>
                            <div class="form-group">
                                <MatSubtitle2>Reviewrs e-mail: @_guestList.First(guest => guest.Id == item.GuestId).Email</MatSubtitle2>
                            </div>
                        </div>
                    </div>
                </MatExpansionPanelDetails>
            </MatExpansionPanel>
        }
    </MatAccordion>
}