@page "/User"
<AuthorizeView Policy="MustBeApprovedHost">
    <Authorized>
        <p>@_errorLabel</p>
        <div class="mat-layout-grid mat-layout-grid-align-left" style="max-width: 2000px;">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell">
                    <MatCard Class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://github.com/LilianBittar/VIABnB-SEP3/blob/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/MyProfile.jpg?raw=true" @onclick="@(() => ToMyProfile(_user.Id))"></MatCardMedia>
                            <div class="demo-mat-card-content" style="margin-left: 35%">
                                <MatHeadline6 class="demo-mat-card-clean-margin">My Profile</MatHeadline6>
                            </div>
                        </MatCardContent>
                        <MatCardActions Class="justify-content-between">
                            <MatButton @onclick="@(() => ToMyProfile(_user.Id))">More</MatButton>
                            <MatIcon Icon="@MatIconNames.Account_circle" Class="user-icons"></MatIcon>
                        </MatCardActions>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard Class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/MyResidence.jpg" @onclick="ToHostResidence"></MatCardMedia>
                            <div class="demo-mat-card-content" style="margin-left: 30%">
                                <MatHeadline6 class="demo-mat-card-clean-margin">My Residences</MatHeadline6>
                            </div>
                        </MatCardContent>
                        <MatCardActions Class="justify-content-between">
                            <MatButton @onclick="ToHostResidence">More</MatButton>
                            <MatIcon Icon="@MatIconNames.Home"></MatIcon>
                        </MatCardActions>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard Class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/MyReviews.jpg" @onclick="@(() => ToHostReviews(_user.Id))"></MatCardMedia>
                            <div class="demo-mat-card-content" style="margin-left: 35%">
                                <MatHeadline6 class="demo-mat-card-clean-margin">Reviews As A Host</MatHeadline6>
                            </div>
                        </MatCardContent>
                        <MatCardActions Class="justify-content-between">
                            <MatButton @onclick="@(() => ToHostReviews(_user.Id))">More</MatButton>
                            <MatIcon Icon="@MatIconNames.Star_rate"></MatIcon>
                        </MatCardActions>
                    </MatCard>
                </div>
            </div>
        </div>
        <div class="mat-layout-grid mat-layout-grid-align-left" style="max-width: 2000px;">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell">
                    <MatCard Class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/MailBox.png" @onclick="ToMyMail"></MatCardMedia>
                            <div class="demo-mat-card-content" style="margin-left: 40%">
                                <MatHeadline6 class="demo-mat-card-clean-margin">Mail Box</MatHeadline6>
                            </div>
                        </MatCardContent>
                        <MatCardActions Class="justify-content-between">
                            <MatButton OnClick="ToMyMail">More</MatButton>
                            <MatIcon Icon="@MatIconNames.Mail"></MatIcon>
                        </MatCardActions>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard Class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/NewResidence.png" @onclick="ToRegisterResidence"></MatCardMedia>
                            <div class="demo-mat-card-content" style="margin-left: 30%">
                                <MatHeadline6 class="demo-mat-card-clean-margin">New Residence</MatHeadline6>
                            </div>
                        </MatCardContent>
                        <MatCardActions Class="justify-content-between">
                            <MatButton @onclick="ToRegisterResidence">More</MatButton>
                            <MatIcon Icon="@MatIconNames.Home"></MatIcon>
                        </MatCardActions>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard Class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/RentRequest.png" @onclick="ToRentRequest"></MatCardMedia>
                            <div class="demo-mat-card-content" style="margin-left: 35%">
                                <MatHeadline6 class="demo-mat-card-clean-margin">Recived Requests</MatHeadline6>
                            </div>
                        </MatCardContent>
                        <MatCardActions Class="justify-content-between">
                            <MatButton @onclick="ToRentRequest">More</MatButton>
                            <MatIcon Icon="@MatIconNames.Lock"></MatIcon>
                        </MatCardActions>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard Class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/RequestStatus.jpg" @onclick="ToRegisterResidence"></MatCardMedia>
                            <div class="demo-mat-card-content" style="margin-left: 30%">
                                <MatHeadline6 class="demo-mat-card-clean-margin">My Request Status</MatHeadline6>
                            </div>
                        </MatCardContent>
                        <MatCardActions Class="justify-content-between">
                            <MatButton @onclick="ToRegisterResidence">More</MatButton>
                            <MatIcon Icon="@MatIconNames.Lock_open"></MatIcon>
                        </MatCardActions>
                    </MatCard>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <br/>
        <div id="warning-box">
            <div class="form-group">
                <p>You must wait for admin to approve you to view the content of this page.<a id="redirect-link" href="Login">Go to login</a></p>
            </div>
            <br/>
            <div class="form-group">
                <img src="media/Stop.jpg" alt="Warning image" id="warning"/>
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Policy="MustBeApprovedGuest">
    <Authorized>
        <div class="mat-layout-grid mat-layout-grid-align-left" style="max-width: 2000px;">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell">
                    <MatCard Class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/RentResidence.jpg"  @onclick="ToRentResidence"></MatCardMedia>
                            <div class="demo-mat-card-content" style="margin-left: 40%" >
                                <MatHeadline6 class="demo-mat-card-clean-margin">Rent A Residence</MatHeadline6>
                            </div>
                        </MatCardContent>
                        <MatCardActions Class="justify-content-between">
                            <MatButton OnClick="ToRentResidence">More</MatButton>
                            <MatIcon Icon="@MatIconNames.Vpn_key"></MatIcon>
                        </MatCardActions>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard Class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/RentRequestStatus.jpg" @onclick=@(()=>NavigationManager.NavigateTo("/guestrentrequests"))></MatCardMedia>
                            <div class="demo-mat-card-content" style="margin-left: 30%">
                                <MatHeadline6 class="demo-mat-card-clean-margin">My Rent Requests</MatHeadline6>
                            </div>
                        </MatCardContent>
                        <MatCardActions Class="justify-content-between">
                            <MatButton>More</MatButton>
                            <MatIcon Icon="@MatIconNames.Free_breakfast"></MatIcon>
                        </MatCardActions>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard Class="demo-mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="https://raw.githubusercontent.com/LilianBittar/VIABnB-SEP3/sprint-8/t1/SEP3BlazorT1Client/SEP3BlazorT1Client/wwwroot/media/MyReviews.jpg"></MatCardMedia>
                            <div class="demo-mat-card-content" style="margin-left: 35%">
                                <MatHeadline6 class="demo-mat-card-clean-margin">Reviews As A Guest</MatHeadline6>
                            </div>
                        </MatCardContent>
                        <MatCardActions Class="justify-content-between">
                            <MatButton @onclick="@(() => ToGuestReviews(_user.Id))">More</MatButton>
                            <MatIcon Icon="@MatIconNames.Star_rate"></MatIcon>
                        </MatCardActions>
                    </MatCard>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>