@page "/RentRequests"
<AuthorizeView Policy="MustBeApprovedHost">
    <Authorized>
        <p>@ErrorMessage</p>
        <div class="d-flex justify-content-center">
            <MatTabGroup Style="width: 500px">
                <MatTab Label="Active Rent Requests">
                    @if (_activeRentRequestList == null)
                    {
                        <h3 class="mat-subtitle1">Loading</h3>
                        <MatProgressCircle Indeterminate="true"/>
                    }
                    else if (!_activeRentRequestList.Any())
                    {
                        <p>
                            <em>There are no rent requests at the moment...</em>
                        </p>
                    }
                    else
                    {
                        <MatAccordion Multi="true">
                            @foreach (var item in _activeRentRequestList)
                            {
                                <MatExpansionPanel>
                                    <MatExpansionPanelSummary>
                                        <MatExpansionPanelHeader>
                                            <p>@item.Id</p>
                                        </MatExpansionPanelHeader>
                                    </MatExpansionPanelSummary>
                                    <MatExpansionPanelDetails>
                                        <div class="form-group">
                                            <p>Request ID: @item.Id</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Residence at: @item.Residence.Address.ToString()</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Start Date: @item.StartDate</p>
                                        </div>
                                        <div class="form-group">
                                            <p>End Date: @item.EndDate</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Number of guests: @item.NumberOfGuests</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Guest VIA ID: @item.Guest.ViaId</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Guest reviews: @item.Guest.GuestReviews.Count <button class="btn btn-outline-dark" @onclick="(() => ViewGuestReviews(item.Guest.Id))">See details</button></p>
                                            <MatButton Label="Give review" OnClick="@(() => NavigationManager.NavigateTo($"reviewguest/{item.Guest.Id}"))"/>
                                        </div>
                                        <div class="form-group">
                                            <p>First Name: @item.Guest.FirstName</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Last Name: @item.Guest.LastName</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Email: @item.Guest.Email</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Request sent date: @item.RequestCreationDate</p>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button class="btn btn-outline-dark" @onclick="(() => ApproveRequest(item.Id))">Approve</button>
                                                    <button class="btn btn-outline-dark" @onclick="(() => RejectRequest(item.Id))">Reject</button>
                                                </div>
                                            </div>
                                        </div>
                                    </MatExpansionPanelDetails>
                                </MatExpansionPanel>
                            }
                        </MatAccordion>
                    }
                </MatTab>
                <MatTab Label="Old Rent Requests">
                    @if (_oldRentRequestList == null)
                    {
                        <MatProgressCircle Indeterminate="true"/>
                        <h3 class="mat-subtitle1">Loading</h3>
                    }
                    else if (!_oldRentRequestList.Any())
                    {
                        <p>
                            <em>There are no rent requests in your history for now</em>
                        </p>
                    }
                    else
                    {
                        <MatAccordion Multi="true">
                            @foreach (var item in _oldRentRequestList)
                            {
                                <MatExpansionPanel>
                                    <MatExpansionPanelSummary>
                                        <MatExpansionPanelHeader>
                                            <p>@item.Id</p>
                                        </MatExpansionPanelHeader>
                                    </MatExpansionPanelSummary>
                                    <MatExpansionPanelDetails>
                                        <div class="form-group">
                                            <p>Request ID: @item.Id</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Residence at: @item.Residence.Address.ToString()</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Start Date: @item.StartDate</p>
                                        </div>
                                        <div class="form-group">
                                            <p>End Date: @item.EndDate</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Number of guests: @item.NumberOfGuests</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Status: @item.Status</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Guest VIA ID: @item.Guest.ViaId</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Guest review: @item.Guest.GuestReviews.Count <button class="btn btn-outline-dark" @onclick="(() => ViewGuestReviews(item.Guest.Id))">See details</button></p>
                                            <MatButton Label="Give review" OnClick="@(() => NavigationManager.NavigateTo($"reviewguest/{item.Guest.Id}"))"/>
                                        </div>
                                        <div class="form-group">
                                            <p>First Name: @item.Guest.FirstName</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Last Name: @item.Guest.LastName</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Email: @item.Guest.Email</p>
                                        </div>
                                        <div class="form-group">
                                            <p>Request sent date: @item.RequestCreationDate</p>
                                        </div>
                                    </MatExpansionPanelDetails>
                                </MatExpansionPanel>
                            }
                        </MatAccordion>
                    }
                </MatTab>
            </MatTabGroup>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Please <a href="/">Login</a>to be able to see the content of this page</p>
    </NotAuthorized>
</AuthorizeView>