@page "/RentRequestHistory"
<AuthorizeView Policy="MustBeHost">
    <Authorized>
        @if (allRentRequests == null)
        {
            <h3 class="mat-subtitle1">Loading</h3>
        }
        else if (!allRentRequests.Any())
        {
            <p>
                <em>There are no rent requests in your history for now</em>
            </p>
        }
        else
        {
            <MatAccordion Multi="true">
                @foreach (var item in allRentRequests)
                {
                    <MatExpansionPanel>
                        <MatExpansionPanelSummary>
                            <MatExpansionPanelHeader>
                                <p>@item.Id</p>
                            </MatExpansionPanelHeader>
                        </MatExpansionPanelSummary>
                        <MatExpansionPanelDetails>
                            <div class="form-group">
                                <p>Request ID: @item.Id</p>
                            </div>
                            <div class="form-group">
                                <p>Start Date: @item.StartDate</p>
                            </div>
                            <div class="form-group">
                                <p>End Date: @item.EndDate</p>
                            </div>
                            <div class="form-group">
                                <p>Number of guests: @item.NumberOfGuests</p>
                            </div>
                            <div class="form-group">
                                <p>Status: @item.Status</p>
                            </div>
                            <div class="form-group">
                                <p>Guest VIA ID: @item.Guest.ViaId</p>
                            </div>
                            <div class="form-group">
                                <p>Guest review: @item.Guest.GuestReviews</p>
                            </div>
                            <div class="form-group">
                                <p>First Name: @item.Guest.FirstName</p>
                            </div>
                            <div class="form-group">
                                <p>Last Name: @item.Guest.LastName</p>
                            </div>
                            <div class="form-group">
                                <p>Email: @item.Guest.Email</p>
                            </div>
                        </MatExpansionPanelDetails>
                    </MatExpansionPanel>
                }
            </MatAccordion>
        }
    </Authorized>
    <NotAuthorized>
        <p>Please <a href="/">Login</a>to be able to see the content of this page</p>
    </NotAuthorized>
</AuthorizeView>