@page "/Reviews/{Id:int}"
<AuthorizeView Policy="MustBeApprovedHost">
    <Authorized>
    
        <p>@ErrorMessage</p>
        @if (_guestReviews == null)
        {
            <h3 class="mat-subtitle1">Loading</h3>
            <MatProgressCircle Indeterminate="true"/>
        }
        else if (!_guestReviews.Any())
        {
            <MatProgressCircle Indeterminate="true" />
            <p>
                <em>There are no Reviews for theis guest</em>
            </p>
        }
        else
        {
            <MatAccordion Multi="true">
                @foreach (var item in _guestReviews)
                {
                    <MatExpansionPanel>
                        <MatExpansionPanelSummary>
                            <MatExpansionPanelHeader>
                                <p>@item.Rating</p>
                            </MatExpansionPanelHeader>
                        </MatExpansionPanelSummary>
                        <MatExpansionPanelDetails>
                            <div class="form-group">
                                <p>Rating: @item.Rating</p>
                            </div>
                            <div class="form-group">
                                <p>Description: @item.Text</p>
                            </div>
                            <div class="form-group">
                                <p>Date: @item.CreatedDate</p>
                            </div>
                            @if (_hosts.Any() && _hosts != null)
                            {
                                <div class="mat-layout-grid-cell">
                                    <div class="form-group">
                                        <MatSubtitle2>Reviewd by: @_hosts.First(h => h.Id == item.HostId).FirstName @_hosts.First(host => host.Id == item.HostId).LastName</MatSubtitle2>
                                    </div>
                                    <div class="form-group">
                                        <MatSubtitle2>Reviewrs e-mail: @_hosts.First(host => host.Id == item.HostId).Email</MatSubtitle2>
                                    </div>
                                </div>
                            }
                        </MatExpansionPanelDetails>
                    </MatExpansionPanel>
                }
            </MatAccordion>
            <div class="form-group">
                <MatButton OnClick="@(() => ToReviewGuest(Id))">Give a Review</MatButton>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <p>Please <a href="/">Login</a>to be able to see the content of this page</p>
    </NotAuthorized>
</AuthorizeView>